<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="POST">
        <label>First Name:
        <input type="text" name="fname" /></label>
        <label>Last Name:
            <input type="text" name="lname" /></label>
        <label>Phone:
            <input type="number" name="phone" /></label>
        <label>Email:
                <input type="email" name="email" /></label>
        <label>Workplace:
                    <input type="text" name="wplace" /></label>
        <button>Submit</button>
    </form>
    
</body>
</html>
